
/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: 'Bookman Old Style', Helvetica, Arial, sans-serif;
}

.index-h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  list-style-type:none;
  margin: 0;
}
ul {
  position:relative;
  display: inline-block;  
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}
.info-bar a:link {
  color: white;
  text-decoration: none;

}

a:visited {
  color: white;
}

 a:hover {
  color: darkblue;
}

a:active {
  color: darkblue;
}

.index-h1 a:link {
  color: #fff;
  text-decoration: none;
}

.index-h1 a:visited {
  color: #fff;
}

.index-h1 a:hover {
  color: rgba(255, 169, 73, .4);
}

/* Main Styles --------------------- */

.main-header {
  padding-top: 90px;
  height: 600px;
  background: linear-gradient(#87CEFA, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/Yosemite-National-Park.jpg') no-repeat center;
  background-size: cover;
}


.title{
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}


.primary-content,
.main-header, 
.main-footer {
  text-align: center;
}
nav {
    margin-top: 24px;
  }
nav li {
    display: inline-block;
    margin: 5px 5px;
    background: -webkit-radial-gradient( #00bfff, transparent); 
    background: -o-repeating-linear-gradient( #FCF5EB, transparent); 
    background: -moz-radial-gradient(#00bfff, transparent); 
    background: radial-gradient( #00bfff, transparent);
    border-radius: 10px;
    font-family: 'Bookman Old Style', Helvetica, Arial, sans-serif;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    border: solid 3px white;
    text-shadow: 0 2px 2px rgba(0,0,0,.8);
}

.primary-content
{
  padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #87CEFA;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.index-travel {
  color: #17202A;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #87CEFA;
  margin: 105px 0 60px;
  background: #434a52 url('../img/japan.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
  text-shadow: 2px 2px #fff;
}

.index-travel p {
  text-shadow: none;
  color: #F0F3F4;
  font-weight: bold;
  background: radial-gradient( #000, transparent);
  padding: 5px;
}

.arrow {
  width: 50px;
  margin-top: 85px;
}

/* Floated Columns ------------------ */

.family,
.alphas {
  width: 46.5%;
}

.alphas {
  float: right;
}

.family {
  float: left;
}

.info-bar {
  padding-top: 30px;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries -------------------- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    margin-top:20%;
    width: 100%;
    padding: 20px;
    border: none;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title{
    font-size: 1.3rem;
    border: none;
  }

  .index-h1 {
    font-size: 5rem;
    overflow: hidden;
  }
  .arrow {
    margin-top: 0;
    display: none;
  }
  .intro {
    font-size: 1rem;
  }

  .family,
  .alphas {
    float: none;
    width: 100%;
  }

  .main-footer {
    padding: 20px;
  }
}



